
{% extends 'base.html' %}
{% load rest_framework %}
{% block title %}Student Form{% endblock title %}
{% block body %}
    <div class="container my-3 py-3">
        <div class="row">
          <div class="col-lg-6">
            <!-- Card Basic Info -->
              <div class="card" id="basic-info">
                <div class="card-header mt-0">
                    <h6>Student Form</h6>
                  </div>
                  <div class="card-body pt-0">
                      <form role="form" method="POST" autocomplete="off">
                         <div class='row mt-2'>
                              {% csrf_token %}
                              {% render_form serializer%}
                          </div>
                          <button class="btn btn-success btn-md float-end mt-2 mb-0 mx-2" type="submit">Save</button>
                          <a class="btn btn-secondary btn-md float-end mt-2 mb-0 mx-2" href="{% url 'student_list' %}">Back</a>
                      
                        </form>
                  </div>
              </div>

{% endblock body %}